name: Compat Helper

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  CompatHelper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
      - run: |
          julia -e 'using Pkg; Pkg.add("CompatHelper")'
          julia -e '
            using CompatHelper
            CompatHelper.main()
          '
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
